<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
<% if(view && view.menu && view.menu.sections && view.menu.sections.length > 0) {%>
  <div class="menu_section">
  <% view.menu.sections.forEach(function(section){ %>
  
	<h3><%= section.label %></h3>
	<ul class="nav side-menu">
	<% if(section.sideMenu) {%>
	  <% section.sideMenu.forEach(function(sideMenu){ %>
	  <li><a><i class="<%= sideMenu.icon %>"></i> <%= sideMenu.label %> <% if(sideMenu.childMenu) {%> <span class="fa fa-chevron-down"></span> <%}%> </a>
		<% if(sideMenu.childMenu) {%>
		<ul class="nav child_menu">
		  <% sideMenu.childMenu.forEach(function(childMenu){ %>
		  <% if(childMenu.route){%>
			<li><a 	href="<%=childMenu.route.href %>"><%=childMenu.label%></a></li>
		  <%} else if(childMenu.subChildMenu){%>
			<li>
			<a><%=childMenu.label%><span class="fa fa-chevron-down"></span></a>
			  <ul class="nav child_menu">
			  <% childMenu.subChildMenu.forEach(function(subChildMenu){ %>
				<li class="sub_menu">
				<% if(subChildMenu.route){%>
				  <a href="<%=subChildMenu.route.href %>"> <%= subChildMenu.label %> </a>
				<%}%>
				</li>
			  <%});%>  
			  </ul>
			</li>
		  <%}%>
		  <%});%>	
		</ul>
		<%}%>
	  </li>
	  <%});%>
    <%}%> 
	</ul>
  <%});%>
  </div>
<% } %> 	
</div>